<form class="d-flex flex-column text-white p-3" [formGroup]="rectangle">
  <h5>{{ texts[0] }}</h5>
  <input type="number" class="my-input m-1 p-2 text-white fw-bold" min="1" formControlName="width">
  <h5>{{ texts[1] }}</h5>
  <input type="number" class="my-input m-1 p-2 text-white fw-bold" min="1" formControlName="height">
  <button type="button" class="btn-calculate p-1 m-3 shadow w-50 align-self-center" (click)="submit()" (mouseenter)="textScramble('Calculate')">
    <span>
      {{ buttonText }}
    </span>
  </button>
</form>
